<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Revisit</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="w-full h-full bg-zinc-900 p-10 text-white">
<div class="flex justify-between items-center mt-5 px-10">
  <h1 class="text-3xl tracking-tighter">
  Welcome to Revisit 
  <span class="text-blue-400 text-xl ml-3"><%= email %></span>
</h1>
  <a href="/logout" class="text-red-500 hover:text-red-400">Logout</a>
</div>
<h3 class="text-xl tracking-tighter mt-5 ml-10 mb-5">Register Yourself</h3>
<div>
    <a href="/read" class="text-blue-500 ml-10">All Users</a>
</div>
  <div class="pl-10 pt-5">
    <form action="/register" method="post" class="w-full max-w-md">
      <input type="text" name="name" placeholder="Name" class="w-full px-5 py-2 mt-5 border-2 border-blue-500 rounded-lg bg-transparent text-white outline-none focus:ring-2 focus:ring-blue-500"/>
      <input type="text" name="email" placeholder="Email" class="w-full px-5 py-2 mt-5 border-2 border-blue-500 rounded-lg bg-transparent text-white outline-none focus:ring-2 focus:ring-blue-500"/>
      <input type="password" name="password" placeholder="Password" class="w-full px-5 py-2 mt-5 border-2 border-blue-500 rounded-lg bg-transparent text-white outline-none focus:ring-2 focus:ring-blue-500"/>  
      <input type="text" name="contact" placeholder="Contact" class="w-full px-5 py-2 mt-5 border-2 border-blue-500 rounded-lg bg-transparent text-white outline-none focus:ring-2 focus:ring-blue-500"/>  
      <input type="submit" value="Create User" class="px-5 py-2 bg-blue-500 rounded-lg mt-5">
    </form>
  </div>
</div>
</body>
</html>
